<% const camelName = name.charAt(0).toUpperCase() + name.slice(1) -%>
import { useRecoilValue } from 'recoil';
import styles from './<%=name%>.module.scss';
import { useLinkClick } from './<%=name%>Interactor';
import { <%=camelName%>State } from './<%=name%>States';

const View = () => {
  const data = useRecoilValue(<%=camelName%>State);
  const onLinkClick = useLinkClick();

  return <div className={styles.view}>{data}</div>;
};

export default View;
